@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black: #212529;
  --orange: #f75940;
  --light-orange: #feefed;
  --orange-hover: #de503a;
  --light-orange-hover: #fbaca0;
  --white-hover: #f3f4f5;
  --grey: #6c757d;
}

body {
  font-family:
    Source Sans Pro,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color EmojiSource Sans Pro;
}

@media (prefers-color-scheme: dark) {
  /*
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  */
}

body {
  /*
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  */
}

.loginForm-label-focus {
  color: #212529;
  font-size: 75%;
  font-weight: 700;
  padding-left: 1px;
  padding-top: 8px;
  top: 0;
  position: absolute;
  transform: translateY(0);
}

.loginForm-input-focus {
  background-color: #fff;
  border-color: #aeb6f3;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 0.2rem rgba(63, 82, 227, 0.25);
  color: #495057;
  outline: 0;
}

.loginInput {
  @apply block h-14 w-full text-ellipsis rounded-lg border-2 border-solid border-gray-200 bg-white bg-clip-padding px-4 pb-4 pt-7 text-base font-normal leading-6 text-gray-600 shadow-none;
}

@keyframes CardAnimation0 {
  0% {
    transform: none;
  }
  10% {
    transform: translateY(100%);
  }
  15% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(200%);
  }
  50% {
    transform: translateY(200%);
  }
  60% {
    transform: translateY(100%);
  }
  65% {
    transform: translateY(100%);
  }
  75% {
    transform: none;
  }
}

@keyframes CardAnimation1 {
  0% {
    transform: none;
  }
  10% {
    transform: translateY(-100%);
  }
  65% {
    transform: translateY(-100%);
  }
  75% {
    transform: none;
  }
}

@keyframes CardAnimation2 {
  15% {
    transform: none;
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  60% {
    transform: none;
  }
}
